:root {
  /* SURFACES */
  --background: #f9f9ff;
  --surface-app: #e8edff;
  --surface-card: #ffffff;
  --surface-highest: #d7e2ff;
  --surface-low: #f1f3ff;

  /* PRIMARY */
  --primary: #003d9b;
  --primary-container: #0052cc;
  --icon: #0052cc;

  /* NEUTRALS */
  --slate-900: #041b3c;
  --slate-600: #4f5f7b;
  --slate-300: #c3c6d6;

  /* SEMANTIC */
  --success: #82f9be;
  --error: #ba1a1a;
  --warning: #ffb300;

  /* TEXT */
  --text-primary: #002113;
  --text-secondary: #4f5f7b;
  --text-muted: #c3c6d6;
  --text-placeholder: #6b7280;
  --text-error: #93000a;
  --foreground: #002113;

  /* INPUT */
  --input-bg: var(--surface-low);
  --input-bg-error: #ffdad6;
  --input-border: #c3c6d6;

  /* BORDER */
  --border-subtle: #c3c6d6;
  --border-strong: #ffffff;

  /* SPACE */
  --radius-xs: 2px;
  --radius-sm: 4px;
  --radius-md: 8px;
  --radius-lg: 12px;
}

/* DARK MODE */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0d1117;
    --surface-app: #0a0f1a;
    --surface-card: #161d2c;
    --surface-highest: #1a2540;
    --surface-low: #111827;

    --foreground: #e8edff;
    --text-primary: #e8edff;
    --text-secondary: #a9b4c7;
    --text-muted: #4f5f7b;

    --border-subtle: #2d3748;
    --border-strong: #1c2230;
  }
}

@theme {
  /* SURFACES */
  --color-background: var(--background);
  --color-surface-app: var(--surface-app);
  --color-surface-card: var(--surface-card);
  --color-surface-highest: var(--surface-highest);
  --color-surface-low: var(--surface-low);

  /* PRIMARY */
  --color-primary: var(--primary);
  --color-primary-container: var(--primary-container);
  --color-icon: var(--icon);

  /* NEUTRALS */
  --color-slate-900: var(--slate-900);
  --color-slate-600: var(--slate-600);
  --color-slate-300: var(--slate-300);

  /* SEMANTIC */
  --color-success: var(--success);
  --color-error: var(--error);
  --color-warning: var(--warning);

  /* TEXT */
  --color-text-primary: var(--text-primary);
  --color-text-secondary: var(--text-secondary);
  --color-text-muted: var(--text-muted);
  --color-text-placeholder: var(--text-placeholder);
  --color-text-error: var(--text-error);

  /* INPUT */
  --color-input-bg: var(--input-bg);
  --color-input-bg-error: var(--input-bg-error);
  --color-input-border: var(--input-border);

  /* BORDER */
  --color-border-subtle: var(--border-subtle);
  --color-border-strong: var(--border-strong);
}
